<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Commun<span>EAT</span>y</h1>
        <p class="lead">Homemade and cheap</p>
      </div>
    </div>
  </div>
</header>