.masthead {
  height: 1vh;
  min-height: 500px;
  background-image: url('https://unsplash.com/photos/vJsj-hgOEG0');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
